body {
  margin: 0;
  padding: 0;
  &::-webkit-scrollbar {
    display: none;
  }
  font-family: 'Inter', sans-serif;
}
.soon{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  align-items: start;
}

.soonitem{
  width: 500px;
  cursor: pointer;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 40px;
  color: white;
}

td, th {
  border: 1px solid white;
  background-color: #333;
  text-align: left;
  padding: 20px;
}
th {
  border: 1px solid white;
  background-color: #333;
  text-align: left;
  padding: 20px;
}

tr {
  background-color: white;
}

img {
  object-fit: cover;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 23px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #ed1c24;

  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;

  width: 300px;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: #eceff1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

  transition-duration: 0.25s;
}

.hamburger-menu{
  display: none;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #333;

  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: 0.25s;

  &.hover {
    color: #fff;
    background-color: #ed1c24;
  }
}
.menu__item:hover {
  color: #fff;
  background-color: #ed1c24;
}

.modal {
  display: flex;
  background-color: rgba(0, 0, 0, 0.277);
  position: fixed;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  z-index: 10001;
  width: 100vw;
  height: 100vh;
  transition: 0.3s;
}
.modal_none {
  display: none;
  background-color: rgba(0, 0, 0, 0.277);
  position: fixed;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  z-index: 10001;
  width: 100vw;
  height: 100vh;
  transition: 0.3s;
}

.landing {
  background: linear-gradient(
    180deg,
    #1d1c1c 0%,
    #1c1d2f 33.81%,
    #151518 64.16%,
    #1b1c2e 100%
  );
  background-color: #000;
  background-size: cover;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
}

.header {
  width: 100%;
  height: 70px;
  background-color: #242424;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99999;

  &_logo {
    color: #fff4f4;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
  }

  &_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
  }

  &_nav {
    display: flex;
    align-items: center;
  }

  &_nav_bar {
    color: #fff4f4;
    white-space: nowrap;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;

    &:hover {
      background-color: #ed1c24;
    }

    &.hover {
      background-color: #ed1c24;
    }
  }
}

.img {
  height: 500px;
  border-radius: 0px;
}

.main {
  margin-top: 30px;

  &_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.bg {
      background: url(../images/backimg.png) center no-repeat;
      background-size: cover;
      background-attachment: fixed;
      height: calc(100vh - 30px);
    }

    &.bg2 {
      background: url(../images/backimg2.png) center no-repeat;
      background-size: cover;
      background-attachment: fixed;
      height: calc(100vh - 30px);
    }
    &.bg3 {
      background: url(../images/backimg3.png) center no-repeat;
      background-size: cover;
      background-attachment: fixed;
      height: 550px;
    }
    &.bg4 {
      background: url(../images/backimg4.png) center no-repeat;
      background-size: cover;
      background-attachment: fixed;
      height: calc(100vh - 30px);
    }
    &.bg5 {
      background: url(../images/backimg5.png) center no-repeat;
      background-size: cover;
      background-attachment: fixed;
      height: calc(100vh - 30px);
    }
    &.bg6 {
      background: url(../images/backimg6.png) center no-repeat;
      background-size: cover;
      background-attachment: fixed;
      height: calc(100vh - 30px);
    }
    &.bg7 {
      background: url(../images/backimg7.png) center no-repeat;
      background-size: cover;
      background-attachment: fixed;
      height: calc(100vh - 30px);
    }
  }

  &_title {
    color: #fff;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
  }

  &_right {
    transition: 0.3s;

    &:hover {
      // transform: scale(1.1);
    }
  }

  &_text {
    color: #ed1c24;
    font-size: 68px;
    font-style: normal;
    font-weight: 500;
  }

  &_right_img {
    max-width: 520px;
    width: 100%;
    margin: 0 auto;
    margin-top: 35px;
    border-radius: 10px;
    border: 1px solid #ed1c24;
    background: rgba(110, 110, 110, 0.6);
  }

  &_right_img2 {
    width: 631px;
    height: 405px;
    background: url(../images/univer.png) center;
  }

  &_left_title {
    color: #fff4f4;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
  }

  &_left_text {
    padding: 42px 38px;
    color: #fff4f4;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-align: start;
  }

  &_left_minitext {
    width: 100%;
    color: #fff4f4;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
  }

  button {
    background: #ed1c24;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    padding: 10px 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    &:hover {
      background: #ed1c24;
      color: #fff;
      box-shadow: 0 0 10px #c04248;
      transition: 0.3s;
      border-radius: 10px;
    }
  }
}

.eventbg {
  padding: 36px 26px;
  border-radius: 10px;
  border: 1px solid #ed1c24;
  background: rgba(110, 110, 110, 0.6);
}

.event_title {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.rrr {
  align-items: end;
}

.event_both {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-top: 40px;
  padding: 0px 26px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.partner_items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.partner_item {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 100px;
}

.mentor_item {
  width: 183px;
  height: 256px;
  border-radius: 10px;
  background: #242424;

 
}
.mentor_item_second{
  width: 100%;
  max-width: 500px;
  height: fit-content;
  border-radius: 10px;
  background: #242424;
  display: flex;
}

.mentor_person {
  text-align: center;
  width: 100%;
  color: white;
  padding-top: 12px;
}

.footer {
  height: 300px;
  width: 100%;
  background: #242424;
  margin-top: 130px;

  &_inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &_right {
    display: flex;
    padding-top: 30px;
    gap: 50px;
    color: #fff;
  }

  &_item {
    display: flex;
    flex-direction: column;
    gap: 6px;

    div {
      border-bottom: 1px solid;
      width: fit-content;
      cursor: pointer;

      &:hover {
        color: #c04248;
        transition: 0.3s;
      }
    }
  }
}

.error {
  text-align: end;
  color: red;
}

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &_item {
    margin-bottom: 10px;

    &_title {
      font-size: 30px;
      font-weight: 500;
      padding-bottom: 10px;
    }
  }

  label {
    font-size: 20px;
  }

  button {
    background-color: #c04248;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    padding: 10px 30px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    &:hover {
      background-color: #c04248;
      color: #fff;
      box-shadow: 0 0 10px #c04248;
      transition: 0.3s;
      border-radius: 10px;
    }
  }

  input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    border: 1px solid black;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    &:focus {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  }

  &_inner {
    width: 500px;
    height: 600px;
    border: 1px solid #ccc;
  }

  &_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 60px);
    padding: 30px;
  }
}

.redButton {
  padding: 10px 40px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  outline: none;
  color: #fff;
  background-color: #c04248;
  border: none;
  &:hover {
    background-color: #c04248;
    color: #fff;
    box-shadow: 0 0 10px #c04248;
    transition: 0.3s;
    border-radius: 10px;
  }
}

.register {
  width: 100%;
  margin: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;

  &_item {
    margin-bottom: 10px;

    &_title {
      font-size: 30px;
      font-weight: 500;
      padding-bottom: 10px;
    }
  }

  label {
    font-size: 20px;
  }

  button {
    width: 101%;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    outline: none;
    color: #fff;
    background-color: #c04248;
    border: none;
    &:hover {
      background-color: #c04248;
      color: #fff;
      box-shadow: 0 0 10px #c04248;
      transition: 0.3s;
      border-radius: 10px;
    }
  }

  input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    border: 1px solid black;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    &:focus {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  }

  &_inner {
    width: 500px;
    border: 1px solid #ccc;
  }

  &_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 60px);
    padding: 30px;
  }
}

.admin {
  display: flex;
  padding-top: 70px;
  width: 100%;
  height: calc(100vh - 70px);

  &_side_items {
    width: 100%;
  }

  &_side_item {
    width: 100%;
    padding: 10px 0px;
    color: white;
    color: #fff4f4;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 0px 20px;

    &:hover {
      background-color: #c04248;
    }

    &.active {
      background-color: #c04248;
    }
  }

  &_left {
    width: 350px;
    background: #242424;
  }
  &_right {
    width: 100%;
  }

  &_content {
    padding: 40px;
  }
}

button {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  outline: none;
  color: #fff;
  background: #ed1c24;
  border: none;
  &:hover {
    background: #ed1c24;
    color: #fff;
    box-shadow: 0 0 10px #c04248;
    transition: 0.3s;
    border-radius: 10px;
  }
}

.profile {
  &_inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  &_item {
    margin-bottom: 10px;

    input {
      border: none;
      border: 1px solid #c04248;
      outline: none;
      border-color: #c04248;
      width: 300px;
      margin-top: 5px;
      height: 35px;
      padding-left: 10px;
      font-size: 18px;
    }
  }
  button {
    height: 50px;
    padding: 0px 50px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    outline: none;
    color: #fff;
    background-color: #c04248;
    border: none;
    &:hover {
      background-color: #c04248;
      color: #fff;
      box-shadow: 0 0 10px #c04248;
      transition: 0.3s;
      border-radius: 10px;
    }
  }

  &_logout {
    display: flex;
    justify-content: end;
    gap: 10px;
  }
}

.team {
  &_member_add {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &_header {
    display: flex;
    justify-content: end;

    button {
      height: 50px;
      padding: 0px 50px;
      border-radius: 5px;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      transition: 0.5s;
      outline: none;
      color: #fff;
      background-color: #c04248;
      border: none;
      &:hover {
        background-color: #c04248;
        color: #fff;
        box-shadow: 0 0 10px #c04248;
        transition: 0.3s;
        border-radius: 10px;
      }
    }
  }

  &_add {
    &_member_title {
      display: flex;
      justify-content: center;
      font-size: 22px;
      padding: 10px 0px;
      font-weight: 500;
    }
    &_member_title_none {
      display: flex;
      justify-content: center;
      font-size: 16px;
      padding: 5px 0px;
    }
    &_member_item {
      padding: 7px 20px;
      border: 1.7px solid #c04248;
    }
    &_member_list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
    }

    &_member {
      padding-top: 20px;
      display: flex;
      justify-content: end;

      button {
        width: 180px;
        height: 40px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.5s;
        outline: none;
        color: #fff;
        background-color: #c04248;
        border: none;
        &:hover {
          background-color: #c04248;
          color: #fff;
          box-shadow: 0 0 10px #c04248;
          transition: 0.3s;
          border-radius: 10px;
        }
      }
    }
    &_inner {
      padding-top: 10px;

      input {
        width: calc(98.8% - 9px);
        height: 40px;
        padding-left: 10px;
        outline: none;
        border: none;
        border: 1px solid #c04248;
        font-size: 18px;
      }
    }

    &_btns {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 50px;

      button {
        width: 49%;
        height: 50px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.5s;
        outline: none;
        color: #fff;
        background-color: #c04248;
        border: none;
        &:hover {
          background-color: #c04248;
          color: #fff;
          box-shadow: 0 0 10px #c04248;
          transition: 0.3s;
          border-radius: 10px;
        }
      }
    }

    .team_add_cancel {
      width: 49%;
      height: 50px;
      border-radius: 5px;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      transition: 0.5s;
      outline: none;
      color: #c04248;
      background-color: #fff;
      border: none;
      border: 2px solid #c04248;
      &:hover {
        background-color: #c04248;
        color: #fff;
        box-shadow: 0 0 10px #c04248;
        transition: 0.3s;
        border-radius: 10px;
      }
    }
  }
}

.users {
  overflow-y: scroll;
  height: calc(100vh - 210px);
  margin-top: 10px;

  &_inner {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }

  &_item {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid #c04248;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    border-radius: 16px;

    img {
      border-radius: 8px;
    }
  }

  &_item_bold {
    color: var(--LC-Black, #000);
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: "dlig" on;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.24px;
  }
}

.forms {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 30px;
}

.mycontact {
  padding-top: 60px;
  color: #fff;
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
}
.mylogo {
  padding-top: 200px;
  text-align: end;
  width: 100%;
  padding-bottom: 46px;
}

.contact{
  display: flex;
  align-items: center;
  justify-content: center;
  

  &_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    cursor: pointer;
    font-size: 21px;
  }

  &_form{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &_item{
    input{
      width: 100%;
      height: 45px;
      border: none;
      background: #242424;
      border-bottom:1px solid #c04248;
      outline: none;
      font-size: 18px;
      color: white;

      &::placeholder{
      color: rgb(141, 141, 141);

      }
    }

  }
  
  &_inner{
    width: 100%;
    max-width: 700px;
    background: #242424;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &_title{
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;

    span{
      color: #c04248;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  &_text{
    color: #CECECE;

text-align: center;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 160.5%;

margin: 0 auto;
max-width: 600px;
    width: 100%;
  }
}

@media (max-width: 1070px) {
  .forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .soon{
    justify-content: center;
  }
}

@media (max-width: 760px) {
 
  
}


@media (max-width: 640px) {
  .mycontact {
    font-size: 20px;
  }
}


@media (max-width: 590px) {
  .mycontact {
    font-size: 26px;
  }
  .soonitem{
    width: 100%;
    max-width: 500px;
  }
}

@media (max-width: 500px) {
  .mentor_item_second{
    display: block;
    padding: 0px 0px 20px 0px;
    height: fit-content;
    border-radius: 10px;
    background: #242424;
    width: 100%;
    max-width: fit-content;
  }
  .header__info{
    display: none;
  }
}


@media (max-width: 440px) {
  .contact_title{
    font-size: 33px;
  }
  .contact_text{
    font-size: 12px;
  }
  .mycontact {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .main_text {
    font-size: 54px;
  }
  
}
@media (max-width: 345px) {
  .mycontact {
    font-size: 15px;
  }
  
}

@media (max-width: 1200px) {
  .admin_left{
    display: none;
  }
.hamburger-menu{
  display: block;
}
.header_nav{
  display: none;
}
}

